.comment-box {
  padding-left: 16px;
}

.caption {
  margin: 0;
}

.comment {
  display:flex;
  align-items: flex-end;
}

.comment-txt {
  flex-grow: 1;
  margin: 0 4px 0 0;
}

.btn-like {
  margin: 12px 4px;
}

.comments-more {
  color: #a7a7a7;
  margin: 4px 0;
}

.comments-more:hover {
  color: #6b6b6b;
}

.likes {
  margin: 4px 8px 4px 8px;
}
